<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Book Results</title>
    <link rel="stylesheet" href="./styles/reset.css">
    <link rel="stylesheet" href="./styles/base.css">
    <link rel="stylesheet" href="./styles/icons.css">
    <link rel="stylesheet" href="./styles/layout.css">
    <link rel="stylesheet" href="./styles/modules.css">
  </head>
  <body>
    <main>
      <h4>Search Results</h4>

      <ul>
        <% searchResults.forEach(book => { %>
          <li> <img src="<%= book.imageUrl %>"/></li>
          <li> <%= book.title %> </li>
          <li> <%= book.author %> </li>
          <li> <%= book.description %> </li>
        <% }); %>
      </ul>
    </main>
  </body>
</html>

