<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head') %>
</head>

<body>
  <nav>
    <%- include('../../partials/navbar') %>
  </nav>
  <main>
    <h4 id="searchResults">Search Results</h4>

    <%- include('../../partials/results') %>
  </main>
</body>

</html>